* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #fff;
  --main-color: #e55472;
  --text-color: #010101;
  --2nd-color: #434343;
  --other-color: #666666;
  --big-font: 5rem;
  --h2-font: 2.3rem;
  --p-font: 1.3rem;
}
body {
  color: var(--text-color);
  background: var(--bg-color);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  background: var(--bg-color);
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 14%;
  transition: all 0.5s ease;
}
.logo img {
  width: 100%;
  height: auto;
}
.navbar {
  display: flex;
}
.navbar a {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  margin: 10px 22px;
  transition: all 0.5s ease;
}
.navbar a:hover {
  color: var(--main-color);
}
.h-icons {
  display: flex;
  align-items: center;
}
.h-icons i {
  font-size: 25px;
  color: var(--text-color);
  margin-left: 5px;
  margin-right: 20px;
  transition: all 0.5s ease;
}
.h-icons i:hover {
  transform: translateY(-4px);
  color: var(--main-color);
}
#menu-icon {
  height: 30px;
  width: 30px;
  background: var(--text-color);
  color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 50%;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
section {
  padding: 60px 14% 70px;
}
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-text h1 {
  font-family: sans-serif;
  font-size: var(--big-font);
  color: var(--2nd-color);
  line-height: 1.3;
  margin-bottom: 25px;
}
.home-text p {
  color: var(--other-color);
  font-size: var(--p-font);
  line-height: 33px;
  margin-bottom: 60px;
}
.btn {
  padding: 20px 35px;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 30px;
  transform: all 0.5s ease;
}
.btn:hover {
  background: var(--2nd-color);
}

.banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 2.5rem;
}
.banner-img {
  overflow: hidden;
}
.banner-img img {
  width: 100%;
  display: block;
  transition: transform 0.5s;
  cursor: pointer;
}
.banner-img:hover img {
  transform: scale(1.1);
}
.center-text h2 {
  text-align: center;
  font-size: var(--h2-font);
  font-weight: 800;
  color: var(--text-color);
}
.new-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 4.5rem;
  text-align: center;
}
.row {
  display: inline;
  position: relative;
  cursor: auto;
}
.row img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.row h4 {
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.5s ease;
}
.row h4:hover {
  color: var(--main-color);
  cursor: pointer;
}
.row h5 {
  color: var(--other-color);
  font-size: var(--p-font);
  font-weight: 600;
}
.top {
  position: absolute;
  top: 20px;
  left: 0;
  height: 30px;
  width: 60px;
  color: var(--bg-color);
  background: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.row .bbtn a {
  position: absolute;
  bottom: 65px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0, 8);
  color: var(--main-color);
  transition: opacity 0.5s;
  opacity: 0;
  padding: 20px 35px;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 30px;
  transform: all 0.5s ease;
}
.row:hover .bbtn a {
  opacity: 1;
}
